docs/coursework/svg-inkscape/
docs/coursework/inc/img/scheme_drawio/*.bkp
src/.idea
src/.env
src/internal/.datasets
.idea
src/.data
src/internal/data/scripts/__pycache__
src/ui
src/research/scripts/__pycache__/
