docs/coursework/svg-inkscape/
docs/coursework/inc/img/scheme_drawio/*.bkp
docs/coursework/04-analysis.aux
docs/coursework/05-design.aux
docs/coursework/coursework.aux
docs/coursework/coursework.bbl
docs/coursework/coursework.bcf
docs/coursework/coursework.blg
docs/coursework/coursework.log
docs/coursework/coursework.out
docs/coursework/coursework.run.xml
docs/coursework/coursework.synctex.gz
docs/coursework/coursework.toc

